@import "~bootstrap/scss/bootstrap.scss";
@import "./vars.scss";
//Fontawesome
$fa-font-path: "@/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  clear: both;
}
html {
  font-size: 0.8em;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0);
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

//Media query
@media screen and (max-width: 768px) {
  div > .background{
    box-shadow: inset 5px 0px 250px $bg-navbar !important;
  }
}
