$gradient-color-1: #0a18e3;
$gradient-color-2: #d10110;
$bg-navbar: #060606;
$button-color: #4154fe;
$icon-navbar: #bcbcbc;
$icon-color: #ec5a57;
$title-color: #fff941;
$primary-text: #ffffff;
$price: #89c17e;
$info-icon:#33475b;
$text-grey:#78787a
